.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playerMozart,
#playerBetho,
#playerBach {
    display: none;
}

.screen {
    margin: auto;
    padding-bottom: 48px;
    width: 70%;
}

h1 {
    font-size: 100px !important;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 50px !important;
    text-align: center;
}

p {
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 24px !important;
    text-align: center;
}

a {
    color: #1e88e5;
}
li {
    text-transform: uppercase;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
li:hover {
    background-color: #1e88e5;
    color: white;
}
